* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* start header */
header {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 2;
}
header .nav-item .nav-link {
    position: relative;
    color: white;
    margin: 0px 20px;
    overflow: hidden;
    transition: 0.3s;
}
header .nav-item .nav-link:hover {
    color: #35a22c;
}
header .nav-item .nav-link::after {
    content: "";
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;
    background-color: #35a22c;
    bottom: 0px;
    left: 0;

    transform: translateX(-100%);
    transition-duration: 0.5s;
}
header .nav-item .nav-link:hover::after {
    transform: translateX(0px);
}
header .nav-item.active .nav-link {
    color: #35a22c;
}
header .nav-item.active .nav-link::after {
    transform: translateX(0px);
}
header .navbar-toggler-icon {
    
}
/* chua lam duoc nhaaaaa */
/* end header */
#portfolio__carousel .carousel-caption {
    bottom: 50%;
    transform: translateY(50%);
}
.carousel-caption img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.carousel-indicators li {
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
.carousel-indicators {
    bottom: 30px;
}
.carousel-item {
    position: relative;
    height: 100vh;
}
.carousel-item::after {
    content:"";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}
#portfolio__carousel .carousel-indicators .active {
    background-color: #35a22c;
}
.carousel-item.item-1 {
    background-image: url(../IMG/finland.jpg);
    background-size: cover;
    background-position: center;
}
.carousel-item.item-2 {
    background-image: url(../IMG/mountains-1.jpg);
    background-size: cover;
    background-position: center;
}
.carousel-item.item-3 {
    background-image: url(../IMG/mountains.jpg);
    background-size: cover;
    background-position: center;
}
/* start project */
#portfolio__project .nav {
    justify-content: center;
}
#portfolio__project .card {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgb(212, 212, 212);
    border: none;
}
#portfolio__project .card:hover {
    /* border: 1.5px solid #35a22c; */
}
#portfolio__project .nav-pills .nav-link.active {
    background: #35a22c;
    color: white;
    border: none;
}
#portfolio__project .nav-pills .nav-link {
    border: 1px solid #1a1d2d;
    color: #1a1d2d;
    margin: 0px 20px;
}
#portfolio__project .card-body {
    border: 1px solid transparent;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
}
#portfolio__project .card:hover .card-body {
    border-color: #35a22c;
    transition: 0.3s;
}
/* end project */


/* breakpoints */
/* .demo__responsive {
    width: 100%;
    height: 500px;
    background: #000;
} */
/* @media screen and (min-width:768px) {
    .demo__responsive {
        background: blue;
    }
}
@media screen and (min-width:992px) {
    .demo__responsive {
        background:red;
    }
} */

/* @media screen and (max-width:992px) {
    .demo__responsive {
        background: orange;
    }
} */

/* Start SkillSets */
.SkillSets {
    height: auto;
    width: 100%;
    background-image: url(../IMG/3.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    /* không nên set index âm */
    /* z-index: -2; */
}
.SkillSets__Header {
    text-align: center;
    color: white;
}
.SkillSets .overlay {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 50%;
    position: absolute;
    /* z-index: -1; */
}
.SkillSets .row {
    width: 100%;
    padding: 30px 30px;
    margin: auto;
}
.SkillSets .card {
    padding: 40px 40px;
    width: 100%;
    height: auto;
    background-color:rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px); 
    color: white; 
    text-align: center;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.3s;
}
.SkillSets .card:hover {
    background-color:rgba(0, 0, 0, 1);
    border: 1px solid white;
}
.SkillSets .card i {
    font-size: 50px;
    color: #35a22c;
    margin-bottom: 10px;
}
.SkillSets .card h5 {
    margin: 20px 0px;
}
.SkillSets .card p {
    margin: 20px 0px;
}
.SkillSets .SkillSets__Header {
    padding: 40px 0px;
}
/* End SkillSets */

/* Start Our Archivement */
#OurArchivement {
    position: relative;
    padding: 40px 0px;
    overflow: hidden;
}
#OurArchivement .bg {
    width: 100%;
    height: 100%;
    background-image: url(../IMG/memphis_3.png);
    background-position: left;
    background-size: 50% auto;
    background-repeat: no-repeat;
    opacity: 0.5;
    position: absolute;
}
#OurArchivement .title {
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(212, 212, 212);
    background: rgba(255, 255, 255, 0.3);
    border: none;
    width: 100%;
    height: auto;
    padding: 40px 40px;
    margin: auto;
    /* position: absolute; */
    backdrop-filter: blur(3px);
}
#OurArchivement .badges {
    padding: 40px 40px;
    margin: auto;
}
#OurArchivement .badges-list img {
    width: 100px;
    height: auto;
}   
/* End Our Archivement */

/* Start Footer */
footer {
    padding: 60px 0px;
    width: 100%;
}
.footerlinks a i {
    padding: 15px 15px;
    border: 1px solid white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    text-align: center;
}
/* End Footer */